
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
    line-height: 1.5;
}

/* Navigation Bar*/

.navbar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #dbeeff;

}

.logo {
    font-size: 28px;
    font-weight: bold;

}

/* Navigation Links*/

.nav-links {
    display: flex;
    flex-direction: column;

}

.nav.links a {
    color: #333;
    text-decoration: none;

}

/* Main Content*/

.container {
    padding: 20px;

}


/*Bio Hero*/

.bio-hero {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ede9fb;
    
}
.bio-hero h1 {
    margin-bottom: 10px;

}

/* Card Grid*/

.card-grid {
    display: flex;
    flex-direction: column;

}
